<div class="row">
    <div  class="col-md-12">
    <div class="row">
        <!--inputs-->
  <div class="col-md-4 col-md-offset-1">
          <div class="row">
              <div class="col-md-12 ">
                  <label>Continent Name</label>
                  <ui-select ng-model="world.continent.selected" on-select="setCountry($item)" >
                      <ui-select-match placeholder="Enter continent name...">
                          {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="continent in (continents | filter: $select.search) ">
                          <span ng-bind="continent.name"></span>
                      </ui-select-choices>
                  </ui-select>
              </div>
          </div></br>
         <div class="row">
              <div class="col-md-12 ">
                  <label>Country Name</label>
                  <ui-select ng-model="world.country.selected" on-select="setState($item)">
                      <ui-select-match placeholder="Enter country name ...">
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="country in (countries | filter: $select.search)">
                          <span ng-bind="country.name"></span>
                      </ui-select-choices>
                  </ui-select>
              </div>
          </div></br>
         <div class="row">
              <div class="col-md-12 ">
                  <label>State Name</label>
                  <ui-select ng-model="world.state.selected" on-select="setTown($item)">
                      <ui-select-match placeholder="Enter state name ...">
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="state in (states | filter: $select.search)">
                          <span ng-bind="state.name"></span>
                      </ui-select-choices>
                  </ui-select>
              </div>
          </div></br>
         <div class="row">
              <div class="col-md-12 ">
                  <label >City Name</label>
                  <ui-select ng-model="world.town.selected" on-select="setWeather($item)">
                      <ui-select-match placeholder="Enter city name ...">
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="town in (towns | filter: $select.search)">
                          <span ng-bind="town.name"></span>
                      </ui-select-choices>
                  </ui-select>
              </div>
          </div>
   </div>
        <!--weather ui-->
  <div class="col-md-6"><div class="maincage commonwidth themecolor">
    <div class="bgimagecage commonwidth">
    <div class="locationselect">
        </div>
        <span class="tempvalue">{{weather.item.condition.temp + ' °F'}}</span>
        <span class="date">{{weather.item.condition.date | date : 'medium'}}</span>
        <div class="todayweather">
        <div class="todayweatherinner">
    		<span class="todayweathertxtfirst">Rain<b> | </b><i class="icon-up-open arrowsupdown"></i>{{weather.item.forecast[0].high}} °F <b> | </b><i class="icon-down-open arrowsupdown"></i>{{weather.item.forecast[0].low}} °F</span>
    		<span class="todayweathertxtsecond">Humidity : {{weather.atmosphere.humidity}}%<br>Wind  :  {{weather.wind.speed + " " + weather.units.speed }}</span>
    	</div>
	</div>
    <div class="dayscell themecolor">
        <div class="dayscellinner">
            <div class="daycol activeday" ng-repeat="forecast in weather.item.forecast | limitTo:7">
            {{forecast.day}}<br />
              <span class="smalldate">{{forecast.date}}</span><br />
                <i class="icon-up-open arrowsupdown"></i>{{forecast.high}} °c<br/>
                <i class="icon-down-open arrowsupdown"></i>{{forecast.low}} °c
            </div>
        </div>
    </div>
</div>
</div></div>
    </div>
</div>
</div>

